body {
    background: #212121;
    margin: 0;
    padding: 0;
    margin: 100px;
    align-items: center;
    text-align: center;
}
.jam{
	position: absolute;
	color: black;
	font-size: 60px;
	letter-spacing: 7px;
	margin-bottom: 50px;
}
.hello{

	background-color: #008CBA;
	color: white;
	border:none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px; 
	cursor: pointer;
	border-radius: 10px;
}
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.modal-content{
	background-color: white;
	width: 60%;
	margin: auto;
	padding: 20px;
	border:1px solid black;
	border-radius: 7px;
}
.close{
	color: grey;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover{
	color: black;
	cursor: pointer;
}

.modal1{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.modal-content1{
	background-color: white;
	width: 60%;
	margin: auto;
	padding: 20px;
	border:1px solid black;
	border-radius: 7px;
}
.close1{
	color: grey;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close1:hover{
	color: black;
	cursor: pointer;
}
